.section {
    height: 100svh;
    width: 100%;
    display: flex;
    align-items: center;

    &>div:nth-child(1) {
        width: 50%;
        height: inherit;
        background-color: #09090bf7;
    }

    &>div {
        height: 100svh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        position: relative;
        flex: 1;
        background-color: var(--bg-primary);

        &>h2 {
            color: var(--text-primary);
            line-height: inherit;
            font-family: "AirbnbCereal_Medium";
        }

        &>p {
            color: var(--text-secondary);
        }

        &>button {
            height: 3.5rem;
            padding-inline: 1.5rem;
            border-radius: var(--border-radius-primary);
            -webkit-border-radius: var(--border-radius-primary);
            -moz-border-radius: var(--border-radius-primary);
            -ms-border-radius: var(--border-radius-primary);
            -o-border-radius: var(--border-radius-primary);
            background-color: var(--bg-secondary);
            color: var(--btn-text-color);
            border: none;
            outline: none;
            cursor: pointer;
            transition: var(--common-btn-transition);
            -webkit-transition: var(--common-btn-transition);
            -moz-transition: var(--common-btn-transition);
            -ms-transition: var(--common-btn-transition);
            -o-transition: var(--common-btn-transition);
            font-size: 1.4rem;

            &:hover {
                background-color: var(--bg-secondary-hover);
            }
        }
    }
}



.password_reset_container.dark {
    background-color: var(--dark-color-2);
}

@media screen and (min-width:0px) and (max-width:430px) {
    .section {
        &>div:nth-child(1) {
            display: none;
        }
    }

    .section {
        &>div:nth-child(1) {
            width: 85vw;
        }
    }
}

@media screen and (min-width:431px) and (max-width:768px) {
    .section {
        &>div:nth-child(1) {
            display: none;
        }
    }
}

@media screen and (min-width:769px) and (max-width:1140px) {
    .section {
        &>div:nth-child(1) {
            width: 75%;
        }
    }
}