.section {
    height: calc(100svh - 6rem);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;

    &>div:nth-child(1) {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>h2 {
            color: var(--text-primary);
            line-height: inherit;
            font-family: "AirbnbCereal_Medium";
            font-size: clamp(18px, 2vw, 24px);
        }
    }

}


.subscription_status_content_wrapper {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 0.7rem;
    gap: 1.5rem;
    overflow: auto;
}

.subscription_content_item {
    border: 0.1rem solid var(--border-secondary);
    background: var(--bg-primary);
    box-shadow: var(--cmmn-box-shadow);
    max-height: 25rem;
    height: 25rem;

    &>div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 6rem;
        padding: 1rem;
        border-bottom: 0.1rem solid var(--border-secondary);

        &>img {
            height: 3.5rem;
            width: 3.5rem;
            border-radius: var(--border-radius-primary);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

        }

        &>p {
            font-weight: 600;
            font-size: 1.6rem;
        }

    }

    &>div:nth-child(2) {
        height: calc(100% - 6rem);
        display: flex;
        align-items: center;
        padding-block: 1rem;

        &>div:nth-child(1) {
            height: 100%;
            flex: 1;
            border-right: 0.1rem solid var(--border-secondary);
            display: flex;
            justify-content: center;
            align-items: center;


            &>div {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                min-width: 65%;

                &>p:nth-child(1) {
                    text-align: center;
                    font-family: "AirbnbCereal_Medium";
                }

                &>p:nth-child(2) {
                    font-size: 1.4rem;
                    text-align: center;
                    color: var(--text-secondary);
                }

                /* &>button {
                    height: 3.5rem;
                    background-color: var(--bg-secondary);
                    color: var(--btn-text-color);
                    cursor: pointer;
                    transition: var(--btn-transition);
                    -webkit-transition: var(--btn-transition);
                    -moz-transition: var(--btn-transition);
                    -ms-transition: var(--btn-transition);
                    -o-transition: var(--btn-transition);
                    font-weight: 500;
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    border: none;

                    &:hover {
                        background-color: var(--bg-secondary-hover);
                    }
                } */

                .renew_btn {
                    height: 3.5rem;
                    background-color: var(--bg-secondary);
                    color: var(--btn-text-color);
                    cursor: pointer;
                    transition: var(--btn-transition);
                    -webkit-transition: var(--btn-transition);
                    -moz-transition: var(--btn-transition);
                    -ms-transition: var(--btn-transition);
                    -o-transition: var(--btn-transition);
                    font-weight: 500;
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    border: none;
                    font-size: 1.4rem;

                    &:hover {
                        background-color: var(--bg-secondary-hover);
                    }
                }

                &>div {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-inline: auto;
                    min-height: 3rem;
                }
            }
        }

        &>div:nth-child(2) {
            height: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            &>div {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                min-width: 65%;

                &>p:nth-child(1) {
                    text-align: center;
                    font-weight: 600;
                    font-family: "AirbnbCereal_Medium";
                }

                &>p:nth-child(2) {
                    font-size: 1.4rem;
                    color: var(--text-secondary);
                    text-align: center;
                }

                /* &>button {
                    height: 3.5rem;
                    background-color: var(--bg-secondary);
                    color: var(--btn-text-color);
                    cursor: pointer;
                    transition: var(--btn-transition);
                    -webkit-transition: var(--btn-transition);
                    -moz-transition: var(--btn-transition);
                    -ms-transition: var(--btn-transition);
                    -o-transition: var(--btn-transition);
                    font-weight: 500;
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    border: none;

                    &:hover {
                        background-color: var(--bg-secondary-hover);
                    }
                } */

                .renew_btn {
                    height: 3.5rem;
                    background-color: var(--bg-secondary);
                    color: var(--btn-text-color);
                    cursor: pointer;
                    transition: var(--btn-transition);
                    -webkit-transition: var(--btn-transition);
                    -moz-transition: var(--btn-transition);
                    -ms-transition: var(--btn-transition);
                    -o-transition: var(--btn-transition);
                    font-weight: 500;
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    border: none;
                    font-size: 1.4rem;

                    &:hover {
                        background-color: var(--bg-secondary-hover);
                    }
                }

                &>div {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-inline: auto;
                    min-height: 3rem;
                }
            }
        }
    }
}

.modal_payment_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: var(--bg-primary);
    border: 0.1rem solid var(--border-secondary);
    width: 22%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    &>div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &>p {
            font-size: 1.8rem;
            font-weight: 600;
        }

        &>button {
            margin-left: auto;
            height: 3rem;
            width: 3rem;
            display: flex;
            align-items: center;
            background-color: transparent;
            justify-content: center;
            border: 0.1rem solid var(--border-secondary);
            outline: none;
            cursor: pointer;
            color: red;
            border-radius: var(--border-radius-primary);
            -webkit-border-radius: var(--border-radius-primary);
            -moz-border-radius: var(--border-radius-primary);
            -ms-border-radius: var(--border-radius-primary);
            -o-border-radius: var(--border-radius-primary);
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--font-size-2);
            margin-bottom: 0rem;

            &:hover {
                background-color: var(--btn-primary-hover);
            }
        }
    }


    .modal_payment_content_container {
        &>div:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 6rem;
            border-bottom: 0.1rem solid var(--border-secondary);

            &>p {
                font-size: 1.6rem;
                font-weight: 600;
            }
        }

        &>div:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 6rem;
            margin-bottom: 1rem;
            border-bottom: 0.1rem solid var(--border-secondary);

            &>p {
                font-size: 1.6rem;
                font-weight: 600;
            }
        }

        &>div:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 6rem;
            margin-bottom: 2rem;

            &>select {
                background-color: var(--input-bg-color);
                font-size: 1.4rem;
            }

            &>p {
                font-size: 1.6rem;
                font-weight: 600;
            }
        }

        &>div:nth-child(5) {
            margin-bottom: 2rem;

            &>p:nth-child(1) {
                font-size: var(--font-size-2);
                font-weight: 600;
                margin-bottom: 1rem;
                color: var(--light-color-2);
            }

            &>p {
                font-size: var(--font-size-2);
                font-weight: 500;
                margin-bottom: 1rem;
                color: gray;
            }
        }

        .salon_payment_btn {
            width: 100%;
            height: 3.5rem;
            padding-inline: 1.5rem;
            border-radius: var(--border-radius-primary);
            -webkit-border-radius: var(--border-radius-primary);
            -moz-border-radius: var(--border-radius-primary);
            -ms-border-radius: var(--border-radius-primary);
            -o-border-radius: var(--border-radius-primary);
            background-color: var(--bg-secondary);
            color: var(--btn-text-color);
            border: none;
            outline: none;
            cursor: pointer;
            transition: var(--common-btn-transition);
            -webkit-transition: var(--common-btn-transition);
            -moz-transition: var(--common-btn-transition);
            -ms-transition: var(--common-btn-transition);
            -o-transition: var(--common-btn-transition);

            &:hover {
                background-color: var(--bg-secondary-hover);
            }
        }
    }

}

.list_body_container_loader {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    overflow: auto;
}

.list_body_container_error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    &>p {
        color: var(--text-primary);
        font-size: 1.6rem;
        font-family: 'AirbnbCereal_Medium';
    }

}

/* dark mode */

.subscription_status_wrapper.dark {
    background-color: var(--dark-color-2);
}

.subscription_status_wrapper.dark {
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.subscription_content_item.dark {
    border: 0.1rem solid rgba(255, 255, 255, 0.2);

    &>div:nth-child(1) {
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);

        &>img {
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
        }
    }

    &>div:nth-child(2) {

        &>div:nth-child(1) {
            border-right: 0.1rem solid rgba(255, 255, 255, 0.2);

            &>div {

                &>p:nth-child(2) {
                    font-size: 1.4rem;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }

        &>div:nth-child(2) {

            &>div {

                &>p:nth-child(2) {
                    font-size: 1.4rem;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}

.modal_payment_container.dark {
    background-color: var(--dark-color-1);
}

.modal_payment_content_container.dark {

    &>div:nth-child(1),
    &>div:nth-child(2) {
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    }

    &>div:nth-child(4) {
        margin-bottom: 2rem;

        &>p:nth-child(1) {
            color: var(--light-color-4);
        }

        &>p {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.list_container_mobile_loader,
.list_container_mobile_error,
.subscription_mobile_content_item,
.subscription_status_mobile_content_wrapper {
    display: none;
}


@media screen and (min-width:0px) and (max-width:430px) {
    .modal_payment_container {
        width: 90%;
    }


    /* .subscription_content_item {
        height: auto;
        max-height: none;
        display: none !important;

        &>div:nth-child(2) {
            flex-direction: column;

            &>div:nth-child(1) {
                width: 100%;
                padding-bottom: 1rem;
                padding-inline: 1rem;
                border-right: none;
                border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
                position: relative;

                &>div {
                    width: 100%;
                    gap: 0.5rem;

                    &>p:nth-child(2) {
                        text-align: start;
                    }

                    &>div {
                        margin: 0rem;
                    }
                }
            }

            &>div:nth-child(2) {
                padding-top: 1rem;
                padding-inline: 1rem;
                width: 100%;
                position: relative;

                &>div {
                    width: 100%;
                    gap: 0.5rem;

                    &>p:nth-child(2) {
                        text-align: start;
                    }

                    &>div {
                        margin: 0rem;
                    }
                }
            }
        }
    } */

    .list_body_container_error,
    .list_body_container_loader,
    .subscription_content_item,
    .subscription_status_content_wrapper {
        display: none;
    }

    .list_container_mobile_loader,
    .list_container_mobile_error,
    .subscription_mobile_content_item {
        display: block;
    }

    .subscription_status_mobile_content_wrapper {
        display: block;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        /* overflow: auto; */
    }

    .subscription_mobile_content_item {
        border-radius: var(--border-radius-primary);
        -webkit-border-radius: var(--border-radius-primary);
        -moz-border-radius: var(--border-radius-primary);
        -ms-border-radius: var(--border-radius-primary);
        -o-border-radius: var(--border-radius-primary);
        border: 0.1rem solid var(--border-secondary);
        background: var(--bg-primary);
        box-shadow: var(--cmmn-box-shadow);


        &>div:nth-child(1) {
            display: flex;
            align-items: center;
            gap: 1rem;
            height: 6rem;
            padding: 1rem;
            border-bottom: 0.1rem solid var(--border-secondary);

            &>img {
                height: 3.5rem;
                width: 3.5rem;
                border-radius: var(--border-radius-primary);
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

            }

            &>p {
                font-weight: 600;
                font-size: 1.6rem;
            }

        }

        &>div:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block: 1rem;

            &>div {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                padding: 1rem;

                &>div:nth-child(1) {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    &>div {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }

                    &>p {
                        color: var(--text-secondary);
                    }
                }

                &>div:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }

            .renew_btn {
                min-width: max-content;
                padding-inline: 1rem;
                height: 3.5rem;
                background-color: var(--bg-secondary);
                color: var(--btn-text-color);
                cursor: pointer;
                transition: var(--btn-transition);
                -webkit-transition: var(--btn-transition);
                -moz-transition: var(--btn-transition);
                -ms-transition: var(--btn-transition);
                -o-transition: var(--btn-transition);
                font-weight: 500;
                border-radius: var(--border-radius-primary);
                -webkit-border-radius: var(--border-radius-primary);
                -moz-border-radius: var(--border-radius-primary);
                -ms-border-radius: var(--border-radius-primary);
                -o-border-radius: var(--border-radius-primary);
                border: none;
                font-size: 1.4rem;

                &:hover {
                    background-color: var(--bg-secondary-hover);
                }
            }
        }
    }

    .list_container_mobile_loader {
        overflow: auto;
    }

    .list_container_mobile_error {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    /* .mobile_renew_btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 6rem;
        height: 3.5rem;
        background-color: var(--bg-secondary);
        color: var(--btn-text-color);
        cursor: pointer;
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);
        font-weight: 500;
        border-radius: var(--border-radius-primary);
        -webkit-border-radius: var(--border-radius-primary);
        -moz-border-radius: var(--border-radius-primary);
        -ms-border-radius: var(--border-radius-primary);
        -o-border-radius: var(--border-radius-primary);
        border: none;
        font-size: 1.4rem;

        &:hover {
            background-color: var(--bg-secondary-hover);
        }
    } */
}

@media screen and (min-width:431px) and (max-width:768px) {
    .subscription_status_content_wrapper {
        grid-template-columns: 1fr;
    }

    .modal_payment_container {
        width: 70%;
    }
}

@media screen and (min-width:769px) and (max-width:1140px) {
    .subscription_status_content_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .modal_payment_container {
        width: 40%;
    }
}