.header {
    height: 6rem;
    background-color: var(--bg-primary);
    border-bottom: 0.1rem solid var(--border-secondary);
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .large_container_left {
        display: flex;
        align-items: center;
        gap: 2rem;
        height: inherit;

        &>button:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-primary);
            cursor: pointer;
            background-color: transparent;
            outline: none;
            border: none;
        }

        &>div:nth-child(2) {
            display: flex;
            align-items: center;
            gap: 1rem;
            height: 3.5rem;
            border: 0.1rem solid var(--border-secondary);
            padding-inline: 1rem;
            border-radius: var(--border-radius-primary);
            -webkit-border-radius: var(--border-radius-primary);
            -moz-border-radius: var(--border-radius-primary);
            -ms-border-radius: var(--border-radius-primary);
            -o-border-radius: var(--border-radius-primary);
            position: relative;

            &>div:nth-child(1) {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--text-primary);
            }

            &>input {
                background-color: transparent;
                border: none;
                outline: none;
                color: var(--text-primary);
                font-size: var(--font-primary);
            }

            &>input::placeholder {
                color: var(--text-secondary);
            }

            &>button {
                border: none;
                outline: none;
                padding: 0.2rem 0.6rem;
                border-radius: calc(var(--border-radius-primary) - 0.1rem);
                -webkit-border-radius: calc(var(--border-radius-primary) - 0.1rem);
                -moz-border-radius: calc(var(--border-radius-primary) - 0.1rem);
                -ms-border-radius: calc(var(--border-radius-primary) - 0.1rem);
                -o-border-radius: calc(var(--border-radius-primary) - 0.1rem);
                margin-right: -0.5rem;
                margin-top: 0.1rem;
                background-color: var(--bg-secondary);
                color: var(--btn-text-color);
                font-size: 1.2rem;
                cursor: pointer;
            }

            .salonlist_container {
                position: absolute;
                border: 0.1rem solid var(--border-secondary);
                border-radius: var(--border-radius-primary);
                -webkit-border-radius: var(--border-radius-primary);
                -moz-border-radius: var(--border-radius-primary);
                -ms-border-radius: var(--border-radius-primary);
                -o-border-radius: var(--border-radius-primary);
                background-color: var(--bg-primary);
                top: 4rem;
                left: 0rem;
                right: 0rem;
                height: 18rem;
                overflow: auto;

                .salonlist_container_item {
                    height: 4rem;
                    border-bottom: 0.1rem solid var(--border-secondary);
                    display: flex;
                    align-items: center;
                    padding: 0.5rem;
                    gap: 1rem;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    cursor: pointer;

                    &>div {
                        height: 3rem;
                        width: 3rem;
                        border: 0.1rem solid var(--border-secondary);
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;

                        &>img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                            border: 0.1rem solid var(--border-secondary);
                        }
                    }

                    &>p {
                        color: var(--text-primary);
                        font-size: var(--font-primary);
                    }
                }

            }

            .salonlist_container_error {
                position: absolute;
                border: 0.1rem solid var(--border-secondary);
                border-radius: var(--border-radius-primary);
                -webkit-border-radius: var(--border-radius-primary);
                -moz-border-radius: var(--border-radius-primary);
                -ms-border-radius: var(--border-radius-primary);
                -o-border-radius: var(--border-radius-primary);
                background-color: var(--bg-primary);
                top: 4rem;
                left: 0rem;
                right: 0rem;
                height: 18rem;
                z-index: 100;
                display: flex;
                justify-content: center;
                align-items: center;

                &>p {
                    color: var(--text-primary);
                    font-size: var(--font-primary);
                }
            }

            .salonlist_container_loading {
                position: absolute;
                border: 0.1rem solid var(--border-secondary);
                border-radius: var(--border-radius-primary);
                -webkit-border-radius: var(--border-radius-primary);
                -moz-border-radius: var(--border-radius-primary);
                -ms-border-radius: var(--border-radius-primary);
                -o-border-radius: var(--border-radius-primary);
                background-color: var(--bg-primary);
                top: 4rem;
                left: 0rem;
                right: 0rem;
                height: 18rem;
                z-index: 100;
                padding: 1rem;
            }
        }
    }

    &>div:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 3rem;

        &>button {
            color: var(--text-primary);
            border: none;
            border-radius: var(--border-radius-primary);
            -webkit-border-radius: var(--border-radius-primary);
            -moz-border-radius: var(--border-radius-primary);
            -ms-border-radius: var(--border-radius-primary);
            -o-border-radius: var(--border-radius-primary);
            font-size: var(--font-primary);
            cursor: pointer;
            outline: none;
            height: 2.8rem;
            width: 6rem;
            letter-spacing: 0.5px;
        }

        &>div:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-primary);
        }

        &>div:nth-child(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            cursor: pointer;
            position: relative;

            &>img {
                width: inherit;
                height: inherit;
                border-radius: inherit;
                -webkit-border-radius: inherit;
                -moz-border-radius: inherit;
                -ms-border-radius: inherit;
                -o-border-radius: inherit;
                object-fit: cover;
                border: 0.1rem solid var(--border-secondary);
            }

            .profile_container {
                position: absolute;
                top: 4rem;
                right: 0rem;
                background-color: var(--bg-primary);
                border: 0.1rem solid var(--border-secondary);
                border-radius: var(--border-radius-primary);
                -webkit-border-radius: var(--border-radius-primary);
                -moz-border-radius: var(--border-radius-primary);
                -ms-border-radius: var(--border-radius-primary);
                -o-border-radius: var(--border-radius-primary);
                width: 21rem;

                .profile_container_header {
                    height: 5rem;
                    border-bottom: 0.1rem solid var(--border-secondary);
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    overflow-x: auto;

                    &>div:nth-child(1) {
                        height: 3.5rem;
                        width: 3.5rem;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;

                        &>img {
                            width: inherit;
                            height: inherit;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                            object-fit: cover;
                            border: 0.1rem solid var(--border-secondary);
                        }
                    }

                    &>div:nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.2rem;

                        &>p:nth-child(1) {
                            font-size: var(--font-primary);
                            color: var(--text-primary);
                            font-family: "AirbnbCereal_Medium";
                        }

                        &>p:nth-child(2) {
                            font-size: var(--font-secondary);
                            color: var(--bg-tertiary);
                            font-family: "AirbnbCereal_Medium";
                        }
                    }
                }

                .profile_container_item {
                    display: flex;
                    align-items: center;
                    padding: 0.5rem;
                    margin: 0.5rem;
                    height: 3.8rem;

                    &:hover {
                        &>div {
                            color: var(--text-primary);
                            font-family: "AirbnbCereal_Medium";
                        }

                        &>p {
                            color: var(--text-primary);
                            font-family: "AirbnbCereal_Medium";
                        }

                        /* background-color: var(--bg-secondary);
                        border-radius: var(--border-radius-primary);
                        -webkit-border-radius: var(--border-radius-primary);
                        -moz-border-radius: var(--border-radius-primary);
                        -ms-border-radius: var(--border-radius-primary);
                        -o-border-radius: var(--border-radius-primary); */
                    }

                    &>div {
                        color: var(--text-secondary);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: var(--font-primary);
                        margin-right: 1rem;
                        transition: color 0.3s ease;
                        -webkit-transition: color 0.3s ease;
                        -moz-transition: color 0.3s ease;
                        -ms-transition: color 0.3s ease;
                        -o-transition: color 0.3s ease;
                    }

                    &>p {
                        color: var(--text-secondary);
                        font-size: var(--font-primary);
                        transition: color 0.3s ease;
                        -webkit-transition: color 0.3s ease;
                        -moz-transition: color 0.3s ease;
                        -ms-transition: color 0.3s ease;
                        -o-transition: color 0.3s ease;
                    }
                }
            }
        }
    }
}

.mobile_container_left {
    display: none;
}

@media screen and (min-width:0px) and (max-width:1140px) {
    .header {

        flex-direction: row-reverse;

        .large_container_left {
            display: none;
        }

        .mobile_container_left {
            display: flex;
            align-items: center;
            gap: 2rem;

            &>button:nth-child(1) {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--text-primary);
                cursor: pointer;
                background-color: transparent;
                outline: none;
                border: none;
            }

        }

        &>div:nth-child(2) {
            gap: 3rem;

            &>button {
                display: none;
            }
        }
    }


}