.appointmentSection {
  height: calc(100svh - 6rem);

  .selectedDay_Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    padding-inline: 1.5rem;

    & > div {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      & > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & > b {
          color: var(--text-primary);
        }
      }
    }

    & > button {
      height: 3.5rem;
      width: max-content;
      padding-inline: 1.2rem;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      border: 0.1rem solid var(--border-secondary);
      outline: none;
      cursor: pointer;
      font-size: 1.4rem;
      background-color: #450a0a;
      color: #fff;
    }
  }

  .calenderDayCalender {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    border-bottom: 0.1rem solid var(--border-secondary);
    padding-top: 1.5rem;

    & > div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 1.5rem;

      & > p {
        font-size: 1.8rem;
        font-weight: 600;
      }

      & > div {
        display: flex;
        align-items: center;
        gap: 1rem;

        & > button {
          width: 2.6rem;
          height: 2.6rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }

    & > div:nth-child(2) {
      display: flex;
      align-items: center;
      padding-block: 2.5rem;

      overflow-x: scroll !important;
      scrollbar-width: thin;
      scrollbar-color: #888 #f1f1f1;

      .dayItem {
        min-width: 14.286%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        & > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;

          & > p:nth-child(1) {
            font-size: 1.2rem;
            color: var(--text-secondary);
          }

          & > button {
            background-color: transparent;
            font-size: 1.4rem;
            border: none;
            outline: none;
            cursor: pointer;
            min-width: 2.8rem;
            min-height: 2.8rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            font-weight: 500;
          }
        }
      }
    }
  }

  .appointmentList {
    padding: 1.5rem;
    overflow: auto;
    max-height: calc(100% - 13.2rem);

    .appointmentItem {
      background-color: var(--bg-primary);
      border-radius: 1rem;
      border: 0.1rem solid var(--border-secondary);
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      margin-bottom: 1.5rem;

      & > div:nth-child(1) {
        height: 8rem;
        padding: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > div:nth-child(1) {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          gap: 2rem;

          .bar {
            height: 100%;
            width: 0.5rem;
            border-radius: 0.4rem;
            background-color: var(--text-secondary);
            -webkit-border-radius: 0.4rem;
            -moz-border-radius: 0.4rem;
            -ms-border-radius: 0.4rem;
            -o-border-radius: 0.4rem;
          }

          & > div:nth-child(2) {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            & > div:nth-child(1) {
              width: 5rem;
              height: 5rem;

              & > img {
                width: inherit;
                height: inherit;
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
                object-fit: cover;
              }
            }

            & > div:nth-child(2) {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;

              & > p:nth-child(1) {
                font-size: 1.45rem;
              }

              & > p:nth-child(2),
              & > p:nth-child(3) {
                color: var(--text-secondary);
              }
            }
          }
        }

        & > div:nth-child(2) {
          display: flex;
          align-items: center;
          gap: 2rem;

          & > button {
            padding: 0.5rem 0rem;
            width: 6.5rem;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            font-size: 1.4rem;
            color: #ffffff;
          }

          & > button:nth-child(1) {
            background-color: #0285c7;
          }

          & > button:nth-child(2) {
            background-color: #450a0a;
          }

          & > button:nth-child(3) {
            display: none;
          }
        }
      }

      & > div:nth-child(2) {
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & > div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        & > p {
          text-align: center;
          margin-block: 2rem 0.5rem;
          color: var(--text-secondary);
        }
      }
    }
  }

  .empty_appointment_list {
    padding: 1.5rem;
    overflow: auto;
    height: calc(100% - (13.2rem + 6rem));
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      width: min(50rem, 100%);
      background-color: var(--bg-primary);
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      border: 0.1rem solid var(--border-secondary);
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;

      & > div {
        width: 7rem;
        height: 7rem;
        background-color: var(--input-bg-color);
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        font-size: 2.5rem;
      }

      & > h2 {
        text-align: center;
        font-size: 2rem;
      }

      & > p {
        text-align: center;
        color: var(--text-secondary);
      }
    }
  }

  .appointmentList_loading {
    padding: 1.5rem;
    overflow: auto;
  }
}

.modal_cancel_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: var(--bg-primary);
  border: none;
  width: min(50rem, 95vw);
  border-radius: var(--border-radius-primary);
  -webkit-border-radius: var(--border-radius-primary);
  -moz-border-radius: var(--border-radius-primary);
  -ms-border-radius: var(--border-radius-primary);
  -o-border-radius: var(--border-radius-primary);
  border: 0.1rem solid var(--border-secondary);

  & > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    & > p {
      font-size: var(--font-size-1);
      font-weight: 600;
    }

    & > button {
      height: 3.5rem;
      width: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-family: "AirbnbCereal_Medium";
      background-color: transparent;
      border: 0.1rem solid var(--border-secondary);
      outline: none;
      color: red;
      cursor: pointer;
    }
  }

  .modal_content_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & > p {
      font-weight: 500;
      line-height: initial;
    }

    & > p:nth-child(6) {
      font-size: var(--font-size-1);
      font-weight: 600;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      & > p {
        font-size: var(--font-size-3);
        font-weight: 500;
      }

      & > input {
        height: 3.5rem;
        padding-inline: 1rem;
        font-size: 1.4rem;
        border: 0.1rem solid var(--border-secondary);
        border-radius: var(--border-radius-primary);
        -webkit-border-radius: var(--border-radius-primary);
        -moz-border-radius: var(--border-radius-primary);
        -ms-border-radius: var(--border-radius-primary);
        -o-border-radius: var(--border-radius-primary);
        background-color: var(--input-bg-color);
        color: var(--text-primary);
        outline: none;

        &::placeholder {
          color: var(--text-secondary);
          letter-spacing: 0.01rem;
        }
      }

      & > textarea {
        height: 3.5rem;
        padding: 1rem;
        font-size: 1.4rem;
        border: 0.1rem solid var(--border-secondary);
        border-radius: var(--border-radius-primary);
        -webkit-border-radius: var(--border-radius-primary);
        -moz-border-radius: var(--border-radius-primary);
        -ms-border-radius: var(--border-radius-primary);
        -o-border-radius: var(--border-radius-primary);
        background-color: var(--input-bg-color);
        color: var(--text-primary);
        outline: none;
        height: 12rem;
        resize: none;

        &::placeholder {
          color: var(--text-secondary);
          letter-spacing: 0.01rem;
        }
      }
    }

    .cancel_btn {
      height: 3.5rem;
      padding-inline: 1.5rem;
      border-radius: var(--border-radius-primary);
      -webkit-border-radius: var(--border-radius-primary);
      -moz-border-radius: var(--border-radius-primary);
      -ms-border-radius: var(--border-radius-primary);
      -o-border-radius: var(--border-radius-primary);
      background-color: var(--bg-secondary);
      color: var(--btn-text-color);
      border: none;
      outline: none;
      cursor: pointer;
      transition: var(--common-btn-transition);
      -webkit-transition: var(--common-btn-transition);
      -moz-transition: var(--common-btn-transition);
      -ms-transition: var(--common-btn-transition);
      -o-transition: var(--common-btn-transition);
      z-index: 4;

      &:hover {
        background-color: var(--bg-secondary-hover);
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .appointmentSection {
    .appointmentList {
      .appointmentItem {
        & > div:nth-child(1) {
          & > div:nth-child(2) {
            & > button:nth-child(1),
            & > button:nth-child(2) {
              display: none;
            }

            & > button:nth-child(3) {
              display: block;
              background-color: transparent;
              color: var(--text-primary);
              width: 3rem;
              height: 3rem;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  .modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: var(--bg-primary);
    border: 0.1rem solid var(--border-secondary);
    width: min(70vw, 40rem);
    border-radius: var(--border-radius-primary);
    -webkit-border-radius: var(--border-radius-primary);
    -moz-border-radius: var(--border-radius-primary);
    -ms-border-radius: var(--border-radius-primary);
    -o-border-radius: var(--border-radius-primary);
    outline: none;

    /* &>p {
            color: var(--text-primary);
            text-align: center;
            margin-bottom: 2rem;
        } */

    & > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 2rem;

      & > p:nth-child(1) {
        font-size: 1.6rem;
        text-align: center;
      }

      & > p:nth-child(2) {
        color: var(--text-secondary);
        font-size: 1.4rem;
        text-align: center;
      }
    }

    & > div:nth-child(2) {
      display: flex;
      align-items: center;
      gap: 2rem;

      button {
        width: 100%;
        height: 3.5rem;
        padding-inline: 1.5rem;
        border-radius: var(--border-radius-primary);
        -webkit-border-radius: var(--border-radius-primary);
        -moz-border-radius: var(--border-radius-primary);
        -ms-border-radius: var(--border-radius-primary);
        -o-border-radius: var(--border-radius-primary);
        background-color: var(--bg-secondary);
        color: var(--btn-text-color);
        border: none;
        outline: none;
        cursor: pointer;
        transition: var(--common-btn-transition);
        -webkit-transition: var(--common-btn-transition);
        -moz-transition: var(--common-btn-transition);
        -ms-transition: var(--common-btn-transition);
        -o-transition: var(--common-btn-transition);

        &:hover {
          background-color: var(--bg-secondary-hover);
        }
      }
    }
  }
}
