.section {
    height: 100svh;
    width: 100%;
    display: flex;
    align-items: center;

    &>div:nth-child(1) {
        width: 50%;
        height: inherit;
        background: linear-gradient(var(--linear-color-1), var(--linear-color-2));
    }
}


.forgot_container_right {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    background-color: var(--bg-primary);

    &>div:nth-child(1) {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;


        &>p {
            color: var(--text-primary);
            line-height: inherit;
            font-family: "AirbnbCereal_Medium";
        }

        &>div {

            &>input {
                width: 100%;
                height: 3.5rem;
                padding-inline: 1rem;
                font-size: 1.4rem;
                border: 0.1rem solid var(--border-secondary);
                border-radius: var(--border-radius-primary);
                -webkit-border-radius: var(--border-radius-primary);
                -moz-border-radius: var(--border-radius-primary);
                -ms-border-radius: var(--border-radius-primary);
                -o-border-radius: var(--border-radius-primary);
                background-color: var(--input-bg-color);
                color: var(--text-primary);
                outline: none;

                &::placeholder {
                    color: var(--text-secondary);
                    letter-spacing: 0.01rem;
                }
            }
        }

        .forgot_btn {
            height: 3.5rem;
            padding-inline: 1.5rem;
            border-radius: var(--border-radius-primary);
            -webkit-border-radius: var(--border-radius-primary);
            -moz-border-radius: var(--border-radius-primary);
            -ms-border-radius: var(--border-radius-primary);
            -o-border-radius: var(--border-radius-primary);
            background-color: var(--bg-secondary);
            color: var(--btn-text-color);
            border: none;
            outline: none;
            cursor: pointer;
            transition: var(--common-btn-transition);
            -webkit-transition: var(--common-btn-transition);
            -moz-transition: var(--common-btn-transition);
            -ms-transition: var(--common-btn-transition);
            -o-transition: var(--common-btn-transition);
            font-size: 1.4rem;

            &:hover {
                background-color: var(--bg-secondary-hover);
            }
        }

        &>a {
            font-size: var(--font-size-3);
        }
    }
}

.homeicon {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: var(--border-radius-primary);
    -webkit-border-radius: var(--border-radius-primary);
    -moz-border-radius: var(--border-radius-primary);
    -ms-border-radius: var(--border-radius-primary);
    -o-border-radius: var(--border-radius-primary);
    background: var(--bg-hover-primary);
    border: 0.1rem solid var(--border-secondary);
    color: var(--text-primary);
    font-size: 1.4rem;
    transition: background-color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--btn-primary-hover);
        border: none;
    }
}

.error_message {
    font-size: 1.2rem !important;
    font-weight: 500;
    color: var(--color-6);
    margin-top: 1rem;
}

/* dark mode on */

.forgot_container.dark {
    background-color: var(--dark-color-2);
}

.forgot_container_left.dark {
    background-color: var(--dark-color-2);
    border-right: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.forgot_container_right.dark {
    &>div:nth-child(1) {
        &>div {
            &>input {
                background-color: var(--dark-color-3);
            }
        }
    }
}


@media screen and (min-width:0px) and (max-width:430px) {
    .section {
        &>div:nth-child(1) {
            display: none;
        }
    }

    .forgot_container_right {
        &>div:nth-child(1) {
            width: 85vw;
        }
    }
}

@media screen and (min-width:431px) and (max-width:768px) {
    .section {
        &>div:nth-child(1) {
            display: none;
        }
    }
}

@media screen and (min-width:769px) and (max-width:1140px) {
    .forgot_container_right {
        &>div:nth-child(1) {
            width: 75%;
        }
    }
}


@supports(-webkit-hyphens:auto) {
    .forgot_container_right {
        &>div:nth-child(1) {
            &>div {
                &>input {
                    font-size: 1.6rem;
                    transform: scale(0.875);
                    transform-origin: left top;
                    width: calc(100% / 0.875);
                    height: calc(3.5rem/ 0.875);
                    padding-inline: calc(1rem / 0.875);
                    border-radius: calc(var(--border-radius-primary) / 0.875);
                    border: calc(0.1rem / 0.875) solid var(--border-secondary);
                }
            }
        }
    }
}