.customer_wrapper {
    /*theextra2remisforpaddingbottom*/
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: var(--light-color-4);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.customer_wrapper>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;
}

.customer_wrapper>div:nth-child(1)>p {
    font-size: var(--font-size-1);
    font-weight: 600;
}


.customer_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16rem;
    height: 100%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
    cursor: pointer;

    &:hover {
        border-bottom: 0.1rem solid var(--light-color-2);
    }
}

.customer_search>input {
    height: 4rem;
    width: calc(100% - 3rem);
    border: none;
    font-size: var(--font-size-2);
    background: transparent;
}

.customer_search>input:focus {
    outline: none;
}

.customer_search>div {
    padding: 0.6em 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--font-size-2);
    cursor: pointer;
}

.customer_send_btn {
    padding: 0.6em 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color-1);
    border: 0.1rem solid var(--light-color-2);
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &>div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-2);
        color: var(--light-color-2);
    }

    &:hover {
        background-color: var(--light-color-2);

        &>div {
            color: var(--light-color-4);
        }
    }
}


.customer_content_wrapper {
    width: 100%;
    /*Extra4remforpaginationcontainer*/
    height: calc(calc(var(--list-wrapper-height)) - 5rem - 4rem - 4rem);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.customer_content_body {
    /* Extra 4rem for pagination container */
    height: calc(calc(var(--list-wrapper-height)) - 5rem - 4rem - 4rem);
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.customer_content_body>div {
    min-height: 6rem;
    min-width: 64rem;
    max-width: 100%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.8fr 0.4fr 0.5fr;
    gap: 1rem;
    font-size: var(--font-size-3);
    font-weight: 500;
}


.customer_content_body>div>div:nth-child(1),
.customer_content_body>div>div:nth-child(2) {
    display: flex;
    align-items: center;
    min-width: 2rem;

    &>input {
        width: var(--font-size-3);
        height: var(--font-size-3);
        accent-color: var(--light-color-2);
    }
}

.customer_content_body>div>p {
    min-width: 16rem;
}

.customer_content_body>div>p:nth-last-child(2) {
    min-width: 10rem;
}

.customer_content_body>div:nth-child(1) {
    position: sticky;
    top: 0;
    z-index: 3;
    border-top-left-radius: var(--list-wrapper-border-radius);
    border-top-right-radius: var(--list-wrapper-border-radius);
    font-weight: 600;
    background-color: var(--light-color-4);
}

.customer_content_body>div>p:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 2;
}

.customer_content_body>div:not(:nth-child(1))>p:nth-child(2) {
    background-color: var(--light-color-4);
}

.customer_content_body>div:nth-child(1)>p:nth-child(2) {
    background-color: var(--light-color-4);
}

.customer_content_body>div>p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.customer_pagination_wrapper {
    width: 100%;
    height: 4rem;
}

.customer_pagination_wrapper>div {
    width: 8rem;
    height: 4rem;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.customer_pagination_wrapper>div>div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--font-size-1);
    font-weight: 500;
    color: gray;

    &:hover {
        color: var(--light-color-2);
    }
}

.customer_search {
    display: flex;
    height: 4rem !important;
}

.mobile_customer_search {
    display: none;
}


.customer_wrapper>div:nth-child(1)>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: var(--light-color-4);
    border: none;
    width: 40%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);


    &>div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &>p {
            font-size: var(--font-size-1);
            font-weight: 600;
        }

        &>button {
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: var(--color-7);
            border: 0.1rem solid var(--color-6);
            cursor: pointer;
            color: var(--color-6);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--font-size-2);
            margin-bottom: 1rem;

            &:hover {
                background-color: var(--color-6);
                color: var(--light-color-4);

                &>div {
                    color: var(--light-color-4);
                }
            }
        }
    }


    .modal_content_container {

        &>div {
            margin-bottom: 2rem;

            &>p {
                font-size: var(--font-size-3);
                font-weight: 500;
                margin-bottom: 1rem;
            }

            &>input {
                height: 4rem;
                width: 100%;
                background-color: var(--light-color-3);
                border-radius: var(--input-border-radius);
                -webkit-border-radius: var(--input-border-radius);
                -moz-border-radius: var(--input-border-radius);
                -ms-border-radius: var(--input-border-radius);
                -o-border-radius: var(--input-border-radius);
                padding-inline: 1rem;
                outline: none;
                border: none;
                font-size: var(--font-size-3);
            }

            &>textarea {
                width: 100%;
                min-height: 20vh;
                background-color: var(--light-color-3);
                border: none;
                border-radius: var(--input-border-radius);
                -webkit-border-radius: var(--input-border-radius);
                -moz-border-radius: var(--input-border-radius);
                -ms-border-radius: var(--input-border-radius);
                -o-border-radius: var(--input-border-radius);
                padding: 1rem;
                font-size: var(--font-size-3);
                resize: none;
                overflow: auto;
                outline: none;

                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }

                &:hover::-webkit-scrollbar {
                    width: 0.6rem;
                    height: 0.7rem;
                }

                &:hover::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                &:hover::-webkit-scrollbar-thumb {
                    background: #0867ff48;
                    border-radius: var(--list-wrapper-border-radius);
                    -webkit-border-radius: var(--list-wrapper-border-radius);
                    -moz-border-radius: var(--list-wrapper-border-radius);
                    -ms-border-radius: var(--list-wrapper-border-radius);
                    -o-border-radius: var(--list-wrapper-border-radius);
                }

                &:hover::-webkit-scrollbar-thumb:hover {
                    background: rgb(0, 98, 255);
                }

                &:hover::-webkit-scrollbar-corner {
                    background-color: transparent;
                }
            }
        }

        .barber_send_btn {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: none;
            cursor: pointer;
            width: var(--mdl-sbt-btn-width);
            height: var(--mdl-sbt-btn-height);
            background-color: var(--light-color-1);
            border: 0.1rem solid var(--light-color-2);
            border-radius: var(--list-btn-border-radius);
            -webkit-border-radius: var(--list-btn-border-radius);
            -moz-border-radius: var(--list-btn-border-radius);
            -ms-border-radius: var(--list-btn-border-radius);
            -o-border-radius: var(--list-btn-border-radius);
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            margin-inline: auto;
            font-size: var(--font-size-2);
            font-weight: 500;
            color: var(--light-color-2);

            &:hover {
                background-color: var(--light-color-2);
                color: var(--light-color-4);
            }
        }
    }

}

.customer_content_body_error {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    &>p {
        font-size: var(--font-size-3);
        font-weight: 500;
    }
}

@media screen and (min-width:0px) and (max-width:430px) {

    .modal_container {
        width: 90%;
    }
}


@media screen and (min-width:431px) and (max-width:768px) {
    .modal_container {
        width: 70%;
    }
}

@media screen and (min-width:769px) and (max-width:1140px) {
    .modal_container {
        width: 50%;
    }
}

@media screen and (min-width:0px) and (max-width:500px) {
    .customer_wrapper>div:nth-child(1) {
        display: block;
        height: 6rem;
    }

    .customer_content_wrapper,
    .customer_content_body {
        height: calc(calc(var(--list-wrapper-height)) - 6rem - 4rem - 4rem);
    }
}