.check_email_container {
    height: 100svh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.check_email_container>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.check_email_container>div:nth-child(1)>img {
    width: 90%;
    height: 60%;
}

.check_email_container>div:nth-child(2) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check_email_container>div:nth-child(2)>div {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.check_email_container>div:nth-child(2)>div>p:nth-child(1) {
    font-size: var(--font-size-1);
    font-weight: 600;
}

.check_email_container>div:nth-child(2)>div>p {
    font-size: var(--font-size-2);
    font-weight: 500;
}

.check_email_container>div:nth-child(2)>div>input {
    height: 4;
    width: 100%;
    border-radius: var(--input-border-radius);
    background-color: var(--light-color-3);
    font-size: var(--font-size-3);
    font-weight: 500;
    border: none;
    outline: none;
    padding-inline: 1rem;
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
}

.check_email_container>div:nth-child(2)>div>button {
    height: 4rem;
    width: 100%;
    border: 0.1rem solid #000;
    color: #000;
    background-color: #efefef;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--font-size-3);

    &:hover {
        background-color: #000;
        color: var(--light-color-4);
    }
}

.check_email_container>div:nth-child(2)>div>a {
    text-align: center;
    font-size: var(--font-size-3);
    font-weight: 500;
    color: var(--light-color-2);
    text-decoration: none;
}

@media screen and (min-width:0px) and (max-width:430px) {
    .check_email_container {
        grid-template-columns: 1fr;
    }

    .check_email_container>div:nth-child(1) {
        display: none;
    }

    .check_email_container>div:nth-child(2)>div {
        width: 85vw;
    }
}

@media screen and (min-width:431px) and (max-width:768px) {
    .check_email_container {
        grid-template-columns: 1fr;
    }

    .check_email_container>div:nth-child(1) {
        display: none;
    }

    .check_email_container>div:nth-child(2)>div {
        width: 65vw;
    }
}

@media screen and (min-width:769px) and (max-width:1000px) {
    .check_email_container {
        grid-template-columns: 1fr;
    }

    .check_email_container>div:nth-child(1) {
        display: none;
    }

    .check_email_container>div:nth-child(2)>div {
        width: 45vw;
    }
}

@media screen and (min-width:1001px) and (max-width:1250px) {

    .check_email_container>div:nth-child(2)>div {
        width: 65%;
    }
}