.offline_container {
    width: 100vw;
    height: 100svh;
    display: grid;
    align-items: center;
    background-color: var(--bg-primary);

    &>div {
        height: auto;

        &>div {
            font-size: 4rem;
            font-weight: bolder;
            text-align: center;
            margin-bottom: 2rem;
            color: var(--text-primary);
        }

        &>p {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 2rem;
            text-align: center;

            &>span {
                color: var(--color-6);
                font-weight: 600;
            }
        }
    }
}

.error_boundary_container {
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: var(--light-color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    &>div {
        text-align: center;

        &>div {
            margin-bottom: 2rem;
            font-size: 3rem;
        }

        &>p {
            font-size: var(--font-size-3);
            font-weight: 500;
        }
    }
}

.error_boundary_route_container {
    height: 100svh;
    width: 100%;
    padding: 2rem;
    background-color: var(--light-color-4);
    display: flex;
    align-items: center;
    justify-content: center;

    &>div {
        text-align: center;

        &>div {
            margin-bottom: 2rem;
            font-size: 3rem;
        }

        &>p {
            font-size: var(--font-size-3);
            font-weight: 500;
        }
    }
}

.error_boundary_container.dark,
.error_boundary_route_container.dark {
    background-color: var(--dark-color-2);

    &>div {
        &>div {
            color: var(--light-color-4);
        }
    }
}


.error_boundary_container {
    height: calc(100svh - 6rem);
    width: 100%;
    padding: 2rem;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;

    &>div {
        text-align: center;

        &>div {
            margin-bottom: 2rem;
            font-size: 3rem;
            color: var(--text-primary);
        }

        &>p {
            font-size: var(--font-tertiary);
            color: var(--text-primary);
        }
    }
}


.error_boundary_route_container {
    height: 100svh;
    width: 100%;
    padding: 2rem;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;

    &>div {
        text-align: center;

        &>div {
            margin-bottom: 2rem;
            font-size: 3rem;
            color: var(--text-primary);
        }

        &>p {
            font-size: var(--font-tertiary);
            color: var(--text-primary);
        }
    }
}