/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import 'react-loading-skeleton/dist/skeleton.css';
@import "react-responsive-carousel/lib/styles/carousel.min.css";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import 'normalize.css';
@import 'react-international-phone/style.css';
@import 'react-calendar/dist/Calendar.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */

  /* Font smoothing and anti-aliasing */
  -webkit-font-smoothing: antialiased;
  /* for Webkit (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale;
  /* for Firefox on macOS */
  text-rendering: optimizeLegibility;
  /* improves legibility */
}


@font-face {
  font-family: 'AirbnbCereal_Light';
  src: url('/fonts/AirbnbCereal_W_Lt.otf');
}

@font-face {
  font-family: 'AirbnbCereal_Medium';
  src: url('/fonts/AirbnbCereal_W_Md.otf');
}

@font-face {
  font-family: 'AirbnbCereal_Semibold';
  src: url('/fonts/AirbnbCereal_W_Bk.otf');
}

@font-face {
  font-family: 'AirbnbCereal_Bold';
  src: url('/fonts/AirbnbCereal_W_Bd.otf');
}

body {
  font-family: 'AirbnbCereal_Semibold', sans-serif;
}

p {
  font-size: 1.4rem;
}

:root {
  font-size: 62.5%;

  /* common colors */
  --color-1: #8ab4f8;
  --color-2: #0d58d2;
  --color-3: #174ea61d;
  --color-4: #ae0581;
  --color-5: #72045523;
  --color-6: rgb(244, 67, 54);
  --color-7: rgba(244, 67, 54, 0.103);
  --color-8: #00A36C;
  --color-9: #00a36d15;
  --color-10: #CC5500;
  --color-11: #cc550016;

  /* light mode colors */

  --light-color-1: #efefef;
  --light-color-2: #1f1f1f;
  --light-color-3: #EEEDED;
  --light-color-4: #fff;

  /* Dark mode colors */

  --dark-color-1: #28292a;
  --dark-color-2: #202124;
  --dark-color-3: #3c4043;
  --dark-color-4: #e8eaed;

  /* loader colors */


  --loader-bg-color: #121217;
  --loader-highlight-color: #2E2E33;


  /* font sizes */
  --font-size-1: clamp(1.6rem, 1.2rem + 0.4vw, 3.2rem);
  --font-size-2: clamp(1.4rem, 1rem + 0.2vw, 3rem);
  --font-size-3: clamp(1.4rem, 1.2rem + 0.2vw, 3rem);
  --font-size-4: clamp(1.2rem, 1.0rem + 0.2vw, 2.4rem);

  /* padding */
  --list-header-btn-padding: 0.6em 1em;
  --list-wrapper-btn-padding: 0.5em 1em;

  /* heights */
  --list-wrapper-height: calc(100svh - 6rem - 2rem);
  --list-wrapper-common-height: calc(calc(100svh - 6rem - 2rem) - 5rem - 4rem);

  /* border-Radius */
  --list-wrapper-border-radius: 0.6rem;
  --list-btn-border-radius: 2rem;
  --input-border-radius: 0.3rem;

  /* transiton */
  --btn-transition: 0.3s all ease;

  /* modal button height & width */
  --mdl-sbt-btn-height: 4rem;
  --mdl-sbt-btn-width: 10rem;

  /* box-shadow */

  --cmmn-box-shadow-y: 0rem 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  --cmmn-box-shadow-x: 0.1rem 0rem 0.6rem rgba(0, 0, 0, 0.2);



  /* lastest design color codes */

  /* dark mode color codes */

  --bg-primary: #09090B;
  --bg-secondary: #ffffff;
  --bg-tertiary: #585858;

  --bg-hover-primary: #27272A80;
  --bg-secondary-hover: #ffffffe6;
  --btn-primary-hover: #27272A;

  --btn-text-color: #000;

  --bg-dark: blue;

  --input-bg-color:#27272A;

  --common-btn-transition: 0.3s all ease;

  --text-primary: #F4F4F5;
  --text-secondary: #F4F4F5B2;

  --border-primary: #F4F4F5B2;
  --border-secondary: #252526;

  --border-radius-primary: 0.4rem;

  --font-primary: 1.4rem;
  --font-secondary: 1.2rem;
  --font-tertiary: 1.6rem;

  --linear-color-1: #283048;
  --linear-color-2: #859398;

  --section-bg-color: #1e1e1e;
  --cmmn-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

body[data-theme="light"] {
  --bg-primary: #fff;
  --bg-secondary: #09090B;
  --bg-secondary-hover: #09090Be6;
  --bg-hover-primary: #efefef;

  --text-primary: #09090B;
  --text-secondary: gray;
  --btn-text-color: #fff;
  --input-bg-color: #efefef;
  --border-secondary: #e7e7e7;

  --loader-bg-color: #d4d4d4;
  --loader-highlight-color:#e0e0e0;

  --btn-primary-hover: #d3d3d3;

  --linear-color-1: #757f9a;
  --linear-color-2: #d7dde8;

  --section-bg-color: #f7f7f7;
}

body {
  font-size: 1.6rem;
}


  .version_text {
    text-align: center;
    padding-block: 2rem;
    color: var(--text-secondary);
    font-weight: 500;
  }

  
/* .carousel * {
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.carousel .control-dots .dot {
  background: var(--color-2);
} */

.react-international-phone-input-container {
  border-radius: var(--border-radius-primary) !important;
  -webkit-border-radius: var(--border-radius-primary) !important;
  -moz-border-radius: var(--border-radius-primary) !important;
  -ms-border-radius: var(--border-radius-primary) !important;
  -o-border-radius: var(--border-radius-primary) !important;
}

.react-international-phone-input-container .react-international-phone-input {
  width: 100%;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  outline: none;
  font-size: 1.4rem;
  border: 0.1rem solid var(--border-secondary);
  height: 3.5rem;
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
  background-color: var(--bg-primary);
  height: 3.5rem;
  border: 0.1rem solid var(--border-secondary);
}


.react-multiple-carousel__arrow {
  min-width: 3rem !important;
  min-height: 3rem !important;
  background-color: var(--light-color-2) !important;
}

.react-multiple-carousel__arrow--left {
  left: 0px !important;
  bottom: 50% !important;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
}

.react-multiple-carousel__arrow--right {
  right: 0.5rem !important;
  bottom: 50% !important;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
}

.react-multiple-carousel__arrow::before {
  font-size: var(--list-modal-content-icon) !important;
  font-weight: bold !important;
}


@media screen and (min-width:1921px) and (max-width:2250px) {
  :root {
    font-size: 72.5%;
  }
}

@media screen and (min-width:2261px) and (max-width:2580px) {
  :root {
    font-size: 82.5%;
  }
}

@media screen and (min-width:2581px) and (max-width:3000px) {
  :root {
    font-size: 92.5%;
  }
}

@media screen and (min-width:3001px) and (max-width: 3400px) {
  :root {
    font-size: 102.5%;
  }
}

@media screen and (min-width:3401px) and (max-width: 3768px) {
  :root {
    font-size: 112.5%;
  }
}

@media screen and (min-width:3769px) and (max-width: 4000px) {
  :root {
    font-size: 122.5%;
  }
}

@media screen and (min-width:4001px) and (max-width:4560px) {
  :root {
    font-size: 132.5%;
  }
}

@media screen and (min-width:4561px) {
  :root {
    font-size: 142.5%;
  }
}


.route_error_container {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.route_error_container_content {
  width: 85%;
  height: 60svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.route_error_container_content>div:nth-child(1)>h1 {
  font-size: 3rem;
}

.route_error_container_content>div:nth-child(1)>p {
  font-size: var(--font-size-3);
  font-weight: 500;
  margin-bottom: 1rem;
}

.route_error_container_content>div:nth-child(1)>button {
  margin-top: 2rem;
  width: 12rem;
  height: 4rem;
  font-size: var(--font-size-3);
  cursor: pointer;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  border: none;
  border: 0.1rem solid var(--color-2);
  color: var(--color-2);
  background-color: var(--color-3);
  transition: var(--btn-transition);
  -webkit-transition: var(--btn-transition);
  -moz-transition: var(--btn-transition);
  -ms-transition: var(--btn-transition);
  -o-transition: var(--btn-transition);

  &:hover {
    background-color: var(--color-2);
    color: var(--light-color-4);
  }
}


.route_error_container_content>div:nth-child(2)>img {
  width: 100%;
  height: 100%;
}

@media((min-width:0px) and (max-width:576px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 60svh;
  }

}

@media((min-width:577px) and (max-width:768px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 90svh;
  }

}

@media((min-width:769px) and (max-width:992px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 90svh;
  }
}

@media((min-width:993px) and (max-width:1200px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 90svh;
  }
}


*::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

*:hover::-webkit-scrollbar-track {
  background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: var(--bg-secondary) !important;
  border-radius: var(--list-wrapper-border-radius);
  -webkit-border-radius: var(--list-wrapper-border-radius);
  -moz-border-radius: var(--list-wrapper-border-radius);
  -ms-border-radius: var(--list-wrapper-border-radius);
  -o-border-radius: var(--list-wrapper-border-radius);
}

*:hover::-webkit-scrollbar-thumb:hover {
  /* background-color: transparent !important; */
}

*:hover::-webkit-scrollbar-corner {
  background-color: transparent;
}


.fc,
.fc *,
.fc::after,
.fc::before {
  color: var(--text-primary);
}

.fc-theme-standard .fc-popover {
  background: var(--bg-primary) !important;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1rem;
}

.fc .fc-toolbar-title {
  font-size: clamp(18px, 2vw, 24px) !important;
  font-family: 'AirbnbCereal_Medium';
}

.fc-scrollgrid-liquid {
  background-color: var(--bg-primary);
  box-shadow: var(--cmmn-box-shadow);
}

.fc .fc-button-group>.fc-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-2) !important;
  /* color: var(--text-primary) !important; */
}

.fc .fc-button-primary {
  background-color: var(--bg-secondary);
  color: var(--btn-text-color) !important;
  border: none;


  &:hover {
    background-color: var(--bg-secondary-hover);
    /* color: var(--btn-text-color) !important; */
  }
}

.fc .fc-today-button {
  /* width: 7rem !important;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  margin-right: -1rem;
  font-size: var(--font-size-2);
  border: none;
  color: var(--text-primary) !important; */

  width: 5.5rem !important;

  &:disabled {
    background-color: var(--bg-secondary-hover);
    /* color: var(--btn-text-color) !important; */
  }
}

.fc .fc-button:disabled {
  /* background-color: red !important; */
}


.fc .fc-button {
  padding: 0.2rem 0.2rem !important;
  font-size: 1.4rem;

  .fc-icon-chevron-left::before,
  .fc-icon-chevron-right::before {
    color: var(--btn-text-color) !important;
  }
}

.fc-button-group {
  gap: 1rem;
}

.fc-today-button {
  margin-right: 0rem !important;
}

.fc .fc-button:disabled {
  /* background-color: var(--btn-primary-hover) !important; */
  /* color: var(--text-primary) !important; */
}

.fc-direction-ltr {
  height: calc(var(--list-wrapper-height) - 4rem);
  /* background-color: red; */
}

.fc-h-event .fc-event-title {
  /* color: var(--text-primary) !important; */
  padding-inline: 0.5rem;
  font-size: 1.2rem;
}

.fc-h-event {
  background-color: var(--bg-secondary);
  border: none;
  margin-bottom: 0.5rem;
  height: 2rem;
  align-content: center;

  .fc-event-title {
    color: var(--btn-text-color) !important;
  }
}

.fc .fc-scrollgrid-section table,
.fc .fc-daygrid-body {
  width: 100% !important;
}

.react-calendar {
  background-color: var(--bg-primary) !important;
  border: 0.1rem solid var(--border-secondary) !important;
  border-radius: var(--border-radius-primary) !important;
  -webkit-border-radius: var(--border-radius-primary) !important;
  position: relative !important;
  z-index: 100 !important;
  -moz-border-radius: var(--border-radius-primary) !important;
  -ms-border-radius: var(--border-radius-primary) !important;
  -o-border-radius: var(--border-radius-primary) !important;
}

.react-calendar__tile {
  font-size: 1.2rem !important;
  color: var(--text-primary) !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--text-secondary) !important;
}

.react-calendar__month-view__weekdays__weekday {
  & abbr[title] {
    text-decoration: none !important;
    color: var(--text-primary) !important;
  }
}

.react-calendar__navigation button {
  background-color: var(--bg-primary) !important;
  color: var(--text-secondary) !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:disabled {
  background-color: var(--input-bg-color) !important;
}

.react-calendar__tile--active,
.react-calendar__tile--now,
.react-calendar__tile--hasActive,
.react-calendar__tile:disabled {
  background-color: var(--input-bg-color) !important;
  color: var(--text-secondary) !important;
}

.react-calendar__tile:hover {
  background-color: var(--input-bg-color) !important;
  color: var(--text-secondary) !important;
  opacity: 0.4;
}


.rmdp-header-values {
  color: var(--text-primary) !important;
  font-weight: bold !important;
}

.rmdp-day {
  color: var(--text-primary) !important;
}

.rmdp-year-picker {
  background-color: var(--bg-primary) !important;
}

.rmdp-month-picker {
  background-color: var(--bg-primary) !important;
}


.rmdp-calendar {
  padding: 0.5rem !important;
  background-color: var(--bg-primary) !important;
  border: 0.2rem solid var(--border-secondary) !important;
}

.rmdp-shadow {
  box-shadow: none !important;
}

.rmdp-input {
  height: 3.5rem !important;
  padding-inline: 1rem !important;
  text-align: "center" !important;
  font-size: 1.4rem !important;
  width: 19rem;
  background: var(--bg-primary) !important;
  outline: none !important;
  border: 0.1rem solid var(--border-secondary) !important;
  border-radius: var(--border-radius-primary);
  -webkit-border-radius: var(--border-radius-primary);
  -moz-border-radius: var(--border-radius-primary);
  -ms-border-radius: var(--border-radius-primary);
  -o-border-radius: var(--border-radius-primary);
  margin: 0px !important;
  padding: 0px;
  color: var(--text-secondary) !important;
  box-shadow: none !important;

  &::placeholder {
    font-size: 1.2rem !important;
    text-transform: uppercase !important;
    color: var(--text-secondary) !important;
  }
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--bg-secondary-hover) !important;
}

.rmdp-day.rmdp-today span {
  background-color: var(--bg-secondary) !important;
  border: 0.1rem solid #fff;
  color: var(--btn-text-color) !important;
}

.rmdp-day span {
  font-size: 1.3rem !important;

  &:hover {
    background-color: var(--bg-secondary-hover) !important;
    color: var(--btn-text-color) !important;
  }
}

.rmdp-range {
  background-color: #e11d47b4 !important;
  box-shadow: 0 0 2px var(--text-primary) !important;
}

.rmdp-week-day {
  color: var(--text-primary) !important;
  font-size: 1.4rem !important;
  font-weight: 700 !important;
}

.rmdp-arrow {
  border: solid var(--bg-secondary) !important;
  border-width: 0 2px 2px 0 !important;
}

.rmdp-arrow-container.rmdp-left {
  position: relative;

  &>i {
    display: none !important;
  }

  &::after {
    content: "<";
    position: absolute;
    top: -2%;
    left: 25%;
    font-size: 1.6rem;
    color: var(--text-primary);
  }

  &:hover::after {
    color: var(--btn-text-color);
  }
}


.rmdp-arrow-container.rmdp-right {
  position: relative;

  &>i {
    display: none !important;
  }

  &::after {
    content: ">";
    position: absolute;
    top: -2%;
    right: 25%;
    font-size: 1.6rem;
    color: var(--text-primary);
  }

  &:hover::after {
    color: var(--btn-text-color);
  }
}


.rmdp-arrow-container:hover {
  background-color: var(--bg-secondary-hover) !important;

}

.rmdp-ep-shadow:after {
  display: none;
}


@supports (-webkit-hyphens: none) {
  .react-international-phone-input-container .react-international-phone-input {
    font-size: 1.6rem;
  }
}